<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <h3>Error</h3>
    <a href="/">Search again</a>
  </body>
</html>