<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>
    <article class="container">
      <h3>Movie finder</h3>
      <form method="post" action="/getmovies">
        <input type="text" name="query" placeholder="Search..." />
        <button type="submit">Go</button>
      </form>
    </article>
  </body>
</html>