* {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.pagination {
  width: 200px;
  overflow-x: scroll;
  overflow-y: hidden;
  max-height: 2rem;
  margin-bottom: 1rem;
}

.pagination {
  width: 200px;
  overflow-x: auto;
  white-space: nowrap;
}

.pagination::-webkit-scrollbar {
  width: 1em;
}

.pagination::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.pagination::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: slategrey;
  outline: 2px solid slategrey;
}

.pagination::-webkit-scrollbar:vertical {
  display: none;
}

input, button, select {
  font-size: 1rem;
  padding: 4px 8px;
  width: 6rem;
}

input.number {
  width: 4rem;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  display: block;
  background-color: #ededed;
  transition: all 0.25s ease;
  z-index: 1;
  width: 20%;
}

.flex-item:hover {
  transform: scale(1.05);
  transition: all 0.25s ease;
  background-color: #fff;
  /* box-shadow: 0px 1px 42px -2px rgba(0,0,0,0.75); */
  z-index: 99;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}

.flex-item .image img {
  /* max-width: 200px;
  height: 100%;
  max-height: 300px; */
  object-fit: contain;
  overflow: hidden;
  margin: 5px;
  width: calc(100% - 10px);
}

.flex-item .image {
  margin: 0;
  padding: 0;
}

.flex-item .title {
  margin: 0;
  padding: 5px;    
  max-width: 200px;
}

.flex-item .title h3 {
  margin: 0 5px 5px 5px;
}

.m-l-5 {
  margin-left: 5px;
}

.m-l-10 {
  margin-left: 10px;
}